.certificate-container{
    height: 110vh;
    display: flex;
    vertical-align:center;
    align-items:center;
    flex-direction: column;
    background-color: black;
}

.certificate-img_container{
    height: 480px;
}

.certificate-img_container > img{
    margin-top: 50px;
    max-width: 600px;
    width: 100%;
    height: auto;
    transition: 1s;
    
}

.loaded{
    opacity:1;
}

.loading{
    opacity:0;
}

.button-container{
    display:flex;
    align-content: center;
    flex-direction: row;
    margin-top: 55px;
}

.button-img{
    color:white;
    background-color: black;
    padding: 0 10px;
    margin: 0 50px;
    border-radius: 65%;
    font-size: 2rem;
    border: 2px solid white;
    
}

.button-img:hover{
    color:black;
    background-color: white;
    border: 2px solid transparent;
    transition: all 0.3s ease-out;
}

